<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://unpkg.com/htmx.org@2.0.0" integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="views/css/style.css">
    <link href="dist/output.css" rel="stylesheet">
    <title>Go HTMX</title>
</head>
<body>
    <div class="container">
        <h1>Stock Price Analyzer</h1>
        <input type="text" id="stockSymbol" name="stockSymbol" placeholder="Enter stock symbol">
        <button hx-get="/analyze" hx-target="#result" hx-include="#stockSymbol">Analyze</button>
        <div id="result"></div>
        <div id="log"></div>
    </div
    <div class="info-section">
        <h2>WAAC Display</h2>
    </div>
</body>
</html>
