<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://unpkg.com/htmx.org@2.0.0"
        integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw"
        crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="views/css/style.css">
    <link href="dist/output.css" rel="stylesheet">
    <title>Log In</title>
</head>

<body>
    <form action="/sign-in>
        <div class=" container">
        <h1>Sign In</h1>
        <p>{{.}}</p>
        <p>Please log into this form to proceed to tools.</p>
        <hr>

        <label><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>

        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>

        <div class="clearfix">
            <button type="submit" class="signinbtn">Sign In</button>
        </div>
        </div>

    </form>
</body>